body{
    background-color:rgba(90, 175, 196, 0.169);
}
p:hover {
    background-color:rgb(70, 106, 163);
}
    h5
    {
        color:rgb(20, 19, 19);}
h1:hover{
    color:rgb(40, 20, 58);
}
h1 {
    color:rgb(227, 165, 40);
    text-shadow: 10px 10px 10px;
}
h2{
    color:rgb(13, 167, 44);
}
h3{
    color:rgba(106, 141, 17, 0.393);}

h3{
    color:rgb(29, 101, 152);}
h3{
    font-size:20px;}

p{
    color:rgb(21, 16, 19);}
span{
    color:rgb(21, 95, 76);}
span:hover{
    background-color:rgb(243, 224, 241);}
h3{
    font-style: italic;}

h4{
    font-style: inherit;}
.splendid{
    font: size 5px;
    color:rgba(95, 9, 121, 0.592);
}
table{
    border-style: double;
}
th, td {
    border: 1px solid black;
  }
th {
   color:purple;
      }
      td{
        color:rgb(234, 236, 237);
      }
       tr:nth-child(even) {
        background-color:rgb(135, 83, 214);
      }
      td {
        text-align: center;
        }
        th,td {
            width: 300px;
            padding:0px 10px 10px 10px;
            margin: -28px 0px -15px 150px;
            background: rgb(210, 212, 212);
            border-top: 2px solid rgb(225, 194, 194);
            border-right: 4px dashed rgb(230, 204, 204);
            border-bottom: 8px double rgb(235, 235, 176);
            border-left: 16px inset rgb(230, 182, 230);
        }
        ul {
            list-style-type: none;
            margin: 4px;
            padding: 5 px;
            overflow: hidden;
            background-color: rgb(145, 25, 45);
          }
          
          li {
            float: left;
          }
          
          li a {
            display: block;
            color: rgb(156, 154, 154);
            text-align: center;
            padding: 13px 16px;
            text-decoration: none;
          }
          
          li a:hover {
            background-color:rgb(139, 35, 174);
          }
          ul {
        list-style-type: none;
        margin: 3px;
        padding: 3 px;
        overflow: hidden;
        background-color: rgb(175, 166, 43);
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: rgb(232, 226, 226);
        text-align: center;
        padding: 13px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color:rgb(108, 44, 130);
      }
